@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
  box-sizing: border-box;
}

.main {
  text-align: center;
}
.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 500px;
  width: 350px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  padding-top: 140px;
  border: 1px;
  position: relative;
  font-size: 100px;
}

.top {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 90px;
}

.bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 90px;
}

.red {
  color: red;
}
